.table-view{
    -fx-border-color:#868E95;
    -fx-border-width:1;
    -fx-border-radius:2;
    -fx-font-family: "Roboto";
}

.table-view:focused{
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color:#B3B9BF;
    -fx-border-width:0 1 0 0;
    -fx-border-style: segments(0, 2, 50, 15);
}

.table-view .column-header-background{
    -fx-background-color: white;
    -fx-border-width:0 0 1 0;
    -fx-border-style:solid;
    -fx-border-color:#B3B9BF;
    -fx-padding: 3 0 3 10;
}

.table-view .column-header:last-visible {
    -fx-border-color:transparent;
}

.table-view .filler{
    -fx-opacity:0;
}

.table-view .table-row-cell {
    -fx-cell-size: 29px;
}
.table-view .table-row-cell .text{
    -fx-fill:#25292e;
}
.table-view .table-column{
    -fx-border-color:transparent;
    -fx-alignment:center_left;
    -fx-padding: 0 0 0 15;
}

.table-view .table-column .label{
    -fx-text-fill: #61718B;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-alignment:center_left;
}

.table-view .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #EFF3F7;
}

.table-view .table-row-cell:selected {
   -fx-background-color: #4089DF;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-padding:-12;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    visibility: hidden;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb
{
    visibility: true;
    -fx-background-color:#B3B9BF;
    -fx-background-radius: 15;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/* primary button */
.my-button {
    -fx-text-fill:white;
    -fx-background-radius: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-background-color:#4189DD;
    -fx-background-insets: 0;
    -fx-border-width : 0.8;
    -fx-border-color : #2671CC;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size : 14;
    -fx-min-width: 75;
    -fx-min-height: 26;
}

.my-button:focused {
    -fx-background-color:#4189DE;
    -fx-background-radius: 2 2 2 2;
    -fx-focused-color:#4189DE;
    -fx-faint-focused-color:#4189DE;
    -fx-border-radius: 2 2 2 2;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}

.my-button:hover {
    -fx-background-color: #438FE7;
}

.my-button:armed {
    -fx-background-color : #2671CC;
}

.my-button:disabled {
    -fx-opacity : 0.6;
}